In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston
import random
from sklearn import linear_model
from sklearn import preprocessing

boston_dataset = load_boston()
df = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
df['MEDV'] = boston_dataset.target
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [2]:
x = df.drop(columns=['MEDV'])
x.shape

(506, 13)

In [3]:
x = x.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled, columns=boston_dataset.feature_names)
df['MEDV'] = boston_dataset.target
df.head()

       CRIM    ZN     INDUS  CHAS  ...   PTRATIO         B     LSTAT  MEDV
0  0.000000  0.18  0.067815   0.0  ...  0.287234  1.000000  0.089680  24.0
1  0.000236  0.00  0.242302   0.0  ...  0.553191  1.000000  0.204470  21.6
2  0.000236  0.00  0.242302   0.0  ...  0.553191  0.989737  0.063466  34.7
3  0.000293  0.00  0.063050   0.0  ...  0.648936  0.994276  0.033389  33.4
4  0.000705  0.00  0.063050   0.0  ...  0.648936  1.000000  0.099338  36.2

[5 rows x 14 columns]

In [0]:
def get_subsets(train_ratio,x):
  nsamples = int(np.round(len(x)*0.8))
  ind = random.sample(range(len(x)),nsamples)
  ind = list(np.sort(ind))
  x_sub_train = x.iloc[ind]
  y_sub_train = x_sub_train['MEDV']
  x_sub_train = x_sub_train.drop(columns=['MEDV'])

  ind_test = []
  for i in range(len(x)):
    if i not in ind:
      ind_test.append(i)

  ind_test = list(np.sort(ind_test))
  x_sub_test = x.iloc[ind_test]
  y_sub_test = x_sub_test['MEDV'] 
  x_sub_test = x_sub_test.drop(columns=['MEDV'])   

  return x_sub_train, y_sub_train, x_sub_test, y_sub_test

In [0]:
x_train, y_train, x_test, y_test = get_subsets(0.8,df)

In [6]:
x_train.shape,y_train.shape,x_test.shape, y_test.shape

((405, 13), (405,), (101, 13), (101,))

In [7]:
ridgeReg = linear_model.Ridge(alpha=0.01)
ridgeReg.fit(x_train,y_train)

Ridge(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [8]:
scores = []
for i in range(0,10):
  x_train, y_train, x_test, y_test = get_subsets(0.8,df)
  ridgeReg = linear_model.Ridge(alpha=0.01, tol=1e-4)
  ridgeReg.fit(x_train,y_train)
  ridgeReg.predict(x_test)
  score = ridgeReg.score(x_test,y_test)
  scores.append(score)
mean_r2 = np.mean(scores)
print(f'Mean r-Squared value over 10 iterations = {mean_r2}')

Mean r-Squared value over 10 iterations = 0.7510342463142445