In [0]:
%matplotlib inline
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
from pathlib import Path
path = Path('/content/drive/My Drive/assignment_2/exp_train.csv')
path_test = Path('/content/drive/My Drive/assignment_2/exp_test.csv')

In [4]:
import pandas as pd
names =[
't', # Time (secs)
'q1', 'q2', 'q3', # Joint angle
'dq1', 'dq2', 'dq3', # Joint velocity
'I1', 'I2', 'I3', # Motor current (A)
'eps21', 'eps22', 'eps31', 'eps32', # Strain measurements
'ddq1', 'ddq2', 'ddq3' # Joint accelerations
]
df = pd.read_csv(path, header=None,sep=',',
names=names, index_col=0)
df.head(6)

            q1      q2      q3  ...          ddq1           ddq2          ddq3
t                               ...
0.00 -0.000007  2.4958 -1.1345  ... -9.904900e-19 -6.210306e-319  4.917400e-27
0.01 -0.000007  2.4958 -1.1345  ...  4.248100e-19 -1.766878e-319 -1.381100e-27
0.02 -0.000007  2.4958 -1.1345  ...  3.233800e-19 -4.990557e-320 -4.117300e-28
0.03 -0.000007  2.4958 -1.1345  ...  1.500500e-19 -1.394253e-320 -1.173100e-28
0.04 -0.000007  2.4958 -1.1345  ...  5.932400e-20 -3.581976e-321 -3.770800e-01
0.05 -0.000007  2.4958 -1.1345  ...  2.164600e-20 -1.141292e-321  2.930300e-01

[6 rows x 16 columns]

In [5]:
y = df['I2'];y.shape

(8000,)

In [6]:
X = df[['q2', 'dq2', 'eps21', 'eps22', 'eps31', 'eps32', 'ddq2']];X.shape

(8000, 7)

In [0]:
from sklearn import metrics, linear_model
regr = linear_model.LinearRegression()

In [8]:
regr.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
names =[
't', # Time (secs)
'q1', 'q2', 'q3', # Joint angle
'dq1', 'dq2', 'dq3', # Joint velocity
'I1', 'I2', 'I3', # Motor current (A)
'eps21', 'eps22', 'eps31', 'eps32', # Strain measurements
'ddq1', 'ddq2', 'ddq3' # Joint accelerations
]
df_test = pd.read_csv(path_test, header=None,sep=',',
names=names, index_col=0)
df_test.head(6)

            q1      q2       q3  ...      ddq1           ddq2      ddq3
t                                ...
0.00 -0.000007  1.9024  0.26063  ... -0.045712  6.210306e-319  1.582900
0.01  0.000013  1.9024  0.26073  ...  0.125580  1.766878e-319  0.414660
0.02 -0.000007  1.9024  0.26086  ... -0.130080  4.990557e-320  0.082286
0.03  0.000013  1.9024  0.26099  ...  0.213010  1.394253e-320  0.190650
0.04 -0.000007  1.9024  0.26110  ... -0.276490  3.581976e-321 -0.170400
0.05 -0.000007  1.9024  0.26124  ...  0.323560  1.141292e-321  0.031745

[6 rows x 16 columns]

In [0]:
y_test = df_test['I2']
X_test = df_test[['q2', 'dq2', 'eps21', 'eps22', 'eps31', 'eps32', 'ddq2']]

In [0]:
y_pred = regr.predict(X_test)

In [12]:
from sklearn.metrics import mean_squared_error, r2_score
print('Coefficients: \n', regr.coef_)
print('\n')
print('Mean squared error for testing dataset: %.2f'% mean_squared_error(y_test, y_pred))
print('\n')
print('R-Squared value: %.2f'% r2_score(y_test, y_pred))

Coefficients:
 [ 0.06255018  0.20584896  0.00118784  0.00044457 -0.0031362   0.00603298
  0.05487097]


Mean squared error for testing dataset: 0.01


R-Squared value: 0.87